{% extends 'base.html' %}

{% block title %}Новости города{% endblock %}

{% block content %}
<h1>Последние новости города</h1>
<ul>
    <li style="margin-bottom: 20px; font-size: 24px;">Городская администрация
        объявила о новом конкурсе проектов.</li>

    <li style="margin-bottom: 20px; font-size: 24px;">В городском парке прошел интереснейший
        фестиваль культуры. Где
        под руководством композитора Fa Dali Astro музыканты с играли мелодии
        по астрологическим алгоритмам из
        натальных карт рождения Майкла Джексона и других людей. Смотрите в
        разделе "Видео"
    </li>
</ul>
{% endblock %}